.explore__component {
  display: flex;
  place-items: center;
  border-radius: 20px;
  background-color: white;
  height: 150px;
  width: 40vw;
}
.explore__component > img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.explore__component .explore__component__text,
.invest__btn {
  margin-left: 20px;
}
.explore__component__text > * {
  margin-top: 20px;
}
.explore__component__text__title{
    
}

.invest__btn > button {
  border-radius: 50px;
  border: 1px solid gray;
  background-color: white;
  width: 90px;
  height: 40px;
  margin-top: 50px;
  margin-left: 30px;
}
