.navbar {
    background-color: white;
}
.navbar--sticky {
    position: sticky;
    top: 0;
    animation-name: slide-in;
    animation-duration: .6s;
}
@keyframes slide-in {
    0% {
        transform: TranslateY(-100%);
    }
    100% {
        transform: TransLateY(0%);
    }
}
.navbar__wrapper {
    overflow-y: hidden;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    padding: 12px 20px;
}
.navbar__logo {
    flex: 0.4;
}
.navbar__logo a {
    text-decoration: none;
    color: var(--ejeka_blue);
}
.navbar__logo img {
    height: 200px;
}
.navbar__links {
    flex: 0.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__links a {
    display: block;
    color: var(--ejeka_blue);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
}
.navbar__links .active {
    background-color: var(--light_blue);
    border-radius: 8px;
}
.navbar__link {
    list-style: none;
    padding: 15px 20px;
    border-radius: 8px;
    transition: .3s ease-in-out;
}
.navbar__link--login {
    font-weight: bold;
    list-style: none;
    padding: 13px 30px;
    border-radius: 8px;
    border: 1px var(--ejeka_blue) solid;
    transition: .3s ease-in-out;
}
.navbar__link--signup {
    font-weight: bold;
    list-style: none;
    padding: 13px 30px;
    border-radius: 8px;
    border: 1px var(--ejeka_blue) solid;
    color: white;
    background-color: var(--ejeka_blue);
    transition: .3s ease-in-out;
}
.navbar__link:hover {
    background-color: var(--light_blue);
}
.navbar__link--reduced {
    list-style: none;
    padding: 15px 40px;
    border: 1px var(--ejeka_blue) solid;
    border-radius: 10px;
}
.navbar__burger {
    color: var(--ejeka_blue);
    border: 1px var(--ejeka_blue) solid;
    border-radius: 50%;
    padding: 2px;
    font-size: 35px;
    cursor: pointer;
    display: none;
    transition: .2s;
}
.navbar__burger:hover {
    transform: scale(1.1);
}
.navbar__cancel {
    color: var(--ejeka_blue);
    border: 1px var(--ejeka_blue) solid;
    border-radius: 50%;
    padding: 2px;
    font-size: 35px;
    cursor: pointer;
    display: none;
    transition: .2s;
}
.navbar__cancel:hover {
    transform: scale(1.1);
}
.hide-scroll::-webkit-scrollbar {
    display: none;
    transition: .3s ease-in-out;
    overflow: hidden;
}
.hide-scroll {
	-ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}
@media(max-width: 1000px) {

.navbar__links {
        display: none;
    }
    .navbar__burger {
        display: block;
    }
    .navbar__cancel {
        display: block;
    }
}

@media(max-width: 768px) {
    .navbar__wrapper {
        padding: 20px 20px;
    }
    .navbar__logo {
        flex: 0.6;
    }
    .navbar__links {
        display: none;
    }
    .navbar__burger {
        display: block;
    }
    .navbar__cancel {
        display: block;
    }
}