.signUpForm {
    border: 1px var(--algo_blue_plain) solid;
    background-color:  var(--algo_blue_plain);
    max-width: 500px;
    margin: 0 auto;
    border-radius: 9px;
    padding: 50px 30px;
    box-shadow: 0 0 10px 0 black;
}
.signUpForm__header {
    color: white;
    text-align: center;
}
.signUpForm__body {
    color: white;
    text-align: center;
    font-size: 18px;
}
.signUpForm__formField {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.signUpForm__formField input {
    height:60px;
    padding: 0 10px;
    font-size: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: rgb(241, 248, 255);
}
.signUpForm__formField label {
    font-size: 15px;
    color: white;
    margin-bottom: 3px;
}
.signUpForm__btn {
    cursor: pointer;
    background-color: var(--ejeka_blue);
    color: white;
    text-decoration: none;
    padding: 17px 50px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
    transition: .2s ease-in-out;
}
.signUpForm__btn:hover {
    background-color: dodgerblue;
}
.signUpForm__already {
    text-align: center;
    margin-top: 10px;
}
.signUpForm__already a {
    color: white;
    text-align: center;
    text-decoration: none;
}
.signUpForm__already a:hover {
    color: var(--ejeka_blue);
}