{% extends 'base.html' %}
{% block title %}Ejeka Invest
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
hi {{user.first_name}} 
{% else %}

<p>You are not logged in</p>
<p>
"% url 'login' %">Log In
"% url 'signup' %">Sign Up
</p>
{% endif %}


<p>ROI is {{roi}}%</p>
<p>Current Balance {{balance}}</p>
<p>Net Increase {{net_increase}}</p>

{% if new_amount %}
{% for money in new_amount %}
<p>You have N{{money}} in your account</p>

{% endfor %}

{% else %}

 
{% endif %}
<p>
<a href="{% url 'payment' %}">Deposit</a>
</p>
{% endblock  %}