:root {
    --ejeka_blue: #004AAD;
    --light_blue: rgb(211, 234, 241);
    --algo_blue_plain: #02203c;
    --algo_blue: linear-gradient(-90deg,#02203c,#001528);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}